// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

$sidenavWidth: 25vw;

#main {
    display: flex;
    min-height: 100vh;
}

.sidenav {
    width: $sidenavWidth;
    min-height: 100vh;
    background-color: grey;
    color: white;

    &__button {
        background-color: transparent;
        border: none;    
    }
}

.checked p{
    text-decoration: line-through;
}

.checked .task__checkbox {
    background-color: black;
}

#content {
    width: calc(100vw - $sidenavWidth);
    min-height: 100vh;
    background-color: aliceblue;

    .task {
        display: flex;
        gap: 20px;

        &__checkbox {
            width: 1rem;
            height: 1rem;
            border: 1px solid black;
        
        }
    }

}

.addTask {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.459);

    &__form {
        width: 60vw;
        height: 50vh;
        background-color: white;
    }

    &__close {
        float: right;
        width: 30px;
        height: 30px;
        background-color: black;
        border: none;
        color: white;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        height: 100%;
    }


}

#projects {

    li {
        display: flex;
        gap: 0 10px;
        align-items: center;
        margin-bottom: 1rem;

        .deleteProject {
            border: 1px solid white;
            padding: 0 0.25rem;
            cursor: pointer;
        }
    }

}

.newProject {

    display: flex;
    gap: 0 10px; 

    #addProject {
        width: 50px;
    }

    #projectNameForm {
        width: calc(100% - 50px);
        background-color: transparent;
        color: white;
        border: none;
        border-bottom: 1px solid white;
    }


}